<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" class="card">
        {{error}}
        <form method="POST" class="">
            <input type="text" name="username" id="username" value="{{datos.username}}" placeholder="Enter you username">
            <label for="">username:</label>
            <br>
            <br>
            <input type="text" name="password" id="password" value="{{datos.password}}" placeholder="Enter your password">
            <label for="">pass:</label>
            <br>
            <button type="submit" class="btn btn-success">send!</button>
        </form>
    </div>
</body>
</html>