 
<form method="POST">

<input type="text" name="nombre" id="nombre" value="{{datos.nombre}}">
<br>
<input type="text" name="apellido" id="apellido" value="{{datos.apellido}}">
<br>

<button type="submit">send</button>
</form>